apiVersion: apps/v1
kind: Deployment 
metadata:
  name: shippingservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: shippingservice
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template: 
    metadata: 
      labels:
        app: shippingservice

    spec:  
      containers:
      - name: shippingservice-pod
        image: shippingservice
        ports:
        - containerPort: 50051
        env:
        - name: PORT
          value: "50051"
        - name: DISABLE_PROFILER
          value: "1"
        - name: ENABLE_TRACING
          value: "1"
      imagePullSecrets:
        - name: ecr-secret
---
apiVersion: v1
kind: Service
metadata: 
  name: shippingservice-service
spec:
  selector:
    app: shippingservice
  ports:
    - protocol: TCP
      port: 50052
      targetPort: 50051 

