apiVersion: apps/v1
kind: Deployment 
metadata:
  name: cartservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: cartservice
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template: 
    metadata: 
      labels:
        app: cartservice

    spec:  
      containers:
      - name: cartservice-pod
        image: deaddeal96/cartservice:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 7070
        env:
        - name: ASPNETCORE_URLS
          value: http://*:7070
        - name: DISABLE_PROFILER
          value: "1"
        - name: ENABLE_TRACING
          value: "0"
        - name: REDIS_ADDR
          value: "redis-service:6379" 
---
apiVersion: v1
kind: Service
metadata: 
  name: cartservice-service
spec:
  selector:
    app: cartservice
  ports:
    - protocol: TCP
      port: 7070
      targetPort: 7070 