apiVersion: apps/v1
kind: Deployment 
metadata:
  name: currencyservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: currencyservice
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template: 
    metadata: 
      labels:
        app: currencyservice

    spec:  
      containers:
      - name: currencyservice-pod
        image: deaddeal96/currencyservice:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 7000
        env:
        - name: PORT
          value: "7000"
        - name: DISABLE_PROFILER
          value: "1"
        - name: ENABLE_TRACING
          value: "0"
---
apiVersion: v1
kind: Service
metadata: 
  name: currencyservice-service
spec:
  selector:
    app: currencyservice
  ports:
    - protocol: TCP
      port: 7000
      targetPort: 7000 