apiVersion: apps/v1
kind: Deployment 
metadata:
  name: recommendationservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: recommendationservice
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template: 
    metadata: 
      labels:
        app: recommendationservice

    spec:  
      containers:
      - name: recommendationservice-pod
        image: recommendationservice
        ports:
        - containerPort: 8080
        env:
        - name: PRODUCT_CATALOG_SERVICE_ADDR
          value: "productcatalog-service:3550"
        - name: PORT
          value: "8080"
        - name: DISABLE_PROFILER
          value: "1"
        - name: ENABLE_TRACING
          value: "0"
      imagePullSecrets:
        - name: ecr-secret
---
apiVersion: v1
kind: Service
metadata: 
  name: recommendationservice-service
spec:
  selector:
    app: recommendationservice
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8080 

