apiVersion: apps/v1
kind: Deployment 
metadata:
  name: checkoutservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: checkoutservice
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template: 
    metadata: 
      labels:
        app: checkoutservice

    spec:  
      containers:
      - name: checkoutservice-pod
        image: checkoutservice

        ports:
        - containerPort: 5050
        env:
        - name: PORT
          value: "5050"
        - name: PRODUCT_CATALOG_SERVICE_ADDR
          value: "productcatalog-service:3550"
        - name: SHIPPING_SERVICE_ADDR
          value: "shippingservice-service:50052" 
        - name: CURRENCY_SERVICE_ADDR
          value: "currencyservice-service:7000"  
        - name: PAYMENT_SERVICE_ADDR
          value: "paymentservice-service:50051"
        - name: EMAIL_SERVICE_ADDR
          value: "emailservice-service:8082"
        - name: CART_SERVICE_ADDR
          value: "cartservice-service:7070"
        - name: DISABLE_PROFILER
          value: "1"
        - name: ENABLE_TRACING
          value: "0"
      imagePullSecrets:
        - name: ecr-secret          
---
apiVersion: v1
kind: Service
metadata: 
  name: checkoutservice-service
spec:
  selector:
    app: checkoutservice
  ports:
    - protocol: TCP
      port: 5050
      targetPort: 5050 