apiVersion: apps/v1
kind: Deployment 
metadata:
  name: emailservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: emailservice
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template: 
    metadata: 
      labels:
        app: emailservice

    spec:  
      containers:
      - name: emailservice-pod
        image: emailservice
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: DISABLE_PROFILER
          value: "1"
        - name: ENABLE_TRACING
          value: "0"
      imagePullSecrets:
        - name: ecr-secret
---
apiVersion: v1
kind: Service
metadata: 
  name: emailservice-service
spec:
  selector:
    app: emailservice
  ports:
    - protocol: TCP
      port: 8082 # other pods can see this port
      targetPort: 8080 # container port 