apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - adservice
  - cartservice
  - checkoutservice
  - currencyservice
  - emailservice
  - frontend
  - paymentservice
  - productcatalogservice
  - recommendationservice
  - shippingservice
  - shoppingassistantservice
