name: reusable build 

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      service_path:
        required: true
        type: string

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
            username: ${{secrets.DOCKER_USERNAME}} 
            password: ${{secrets.DOCKER_PASSWORD}}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          context: ${{ inputs.service_path }}
          file: ${{ inputs.service_path }}/Dockerfile
          push: true
          
          tags: |
            deaddeal96/${{ inputs.service_name }}:latest
            deaddeal96/${{ inputs.service_name }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      
      - name: scan docker images with trivy
        uses: aquasecurity/trivy-action@master
        with: 
          image-ref: '${{ steps.login-ecr.outputs.registry }}/${{ inputs.service_name }}:${{ github.sha }}'
          format: 'table'
          severity: 'CRITICAL'
          exit-code: '0'
          output: 'trivy-report-${{ inputs.service_name }}.txt'
      
      - name: Upload trivy scan results
        uses: actions/upload-artifact@v4
        if: always() 
        with:
          name: trivy-report-${{ inputs.service_name }}
          path: trivy-report-${{ inputs.service_name }}.txt

      - name: Notify Slack
        if: always()
        uses: slackapi/slack-github-action@v1.27.0
        with:
          payload: |
            {
              "text": "${{ job.status == 'success' && '✅' || '❌' }} *Build ${{ job.status }}: ${{ inputs.service_name }}*\n*Repo:* ${{ github.repository }} | *Branch:* ${{ github.ref_name }}\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View Build Logs>"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
        