name: reusable build and sonar scan

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      service_path:
        required: true
        type: string

jobs:
  sonar-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Setup Buildx 
        uses: docker/setup-buildx-action@v3.11.1

      - name: Docker login
        uses: docker/login-action@v3.5.0
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASS}}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
            context: ${{ inputs.service_path }}
            file: Dockerfile
            push: true
            tags:  deaddeal96/${{inputs.service_name}}:latest